/SamLab.Structural.Unity/.vs
/SamLab.Structural.Unity/Library
/SamLab.Structural.Unity/obj
/SamLab.Structural/.vs
/SamLab.Structural/obj
/SamLab.Structural/SamLab.Structural.Core/obj
/SamLab.Structural/bin
/SamLab.Structural.Tests/obj
/SamLab.Structural.Tests/bin
/SamLab.Structural.App/obj
/SamLab.Structural/SamLab.Structural.Core/bin
